<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="GitHub" value="https://nuget.pkg.github.com/prado-org/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub>
			<add key="Username" value="leandromsft" />
			<add key="ClearTextPassword" value="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" />
		</GitHub>
	</packageSourceCredentials>
</configuration>